/* your code here */
body{
	background: #0fe37e;
}
section{
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 200px; 
}
.photo-container, .product__info{
	background: white;
}
.photo-main{
	background: #b1e838;
}
.photo-main > img{
	margin-left: -60px;
}
.controls{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.price{
	color: red;
}
.price>span{
	font-size: 40px;
}
.photo-album>ul, .variant>ul{
	list-style-type: none;
	display: flex;
}
.photo-album>ul>li>img, .variant>ul>li>img{
	border: 1px solid #b1e838;
	background: white;
}
#add-to-cart{
	width: 150px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	background: red;
	color: white;
	padding: 10px;
	padding-inline: 5px;
	border: none;
	border-radius: 20px;
	box-shadow: 0px 0px 10px #cbcbcb;
}

